input {
    border: 0;
    background-color: midnightblue;
    color: white;
    padding: 10px 96px;
    font-size: 25px;
}

h3 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 150px;
}